.CartLink { 
  display: flex; display: flex; 
  height: 10vh; 
  position: relative; 
  padding: 15px; 
} 
.CartLink .Cart-pht { 
  width: 40px; 
  border-radius: 10px; 
  background-color: gray; 
} 
.CartLink img { 
  height: 30px; 
  position: absolute; 
  top: 3px; 
  left: 550px; 
}
.CartLink .Cart a{
  height: 30px; 
  position: absolute; 
  top: 3px; 
  left: 550px; 
}