.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  margin: 20px;
  background-color: white;
  padding-bottom: 20px;

  cursor: pointer;
}
.ProductList {
  display: flex;
  flex-wrap: wrap;
}
.ProductList .Product img {
  width: 250px;
  height: 300px;
}
.bg {
  background-image: linear-gradient(
      rgba(182, 178, 183, 0.227),
      rgba(55, 214, 238, 0.073)
    ),
    url(https://i.pinimg.com/564x/b0/d9/12/b0d91260ba5a7db06ba5cda44e032e2e.jpg);
  background-size: cover;
  padding: 20px 0;
}
.Product_info {
  padding: 10px;
}
.AddRemove {
  display: flex;
  justify-content: space-between;
}
.AddRemove .DeleteProduct {
  width: 30px;
  margin-right: 30%;
}

.ProductList a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #7b3633;
  transition: 0.3s;
}

.Category {
  margin: 0;
  color: #7b3633;
}
