.ProductList .Product {
  display: flex;
  flex-direction: column;
  max-width: 300px;
  margin: 20px;
  background-color: white;
  padding-bottom: 20px;
  box-shadow: 6px 5px 6px rgb(5, 73, 116);
  cursor: pointer;
}
.ProductList {
  display: flex;
  flex-wrap: wrap;
  margin: 0 7%;
}
.ProductList .Product img {
  width: 250px;
  height: 300px;
}
.bg {
  background-image: linear-gradient(
      rgba(182, 178, 183, 0.227),
      rgba(55, 214, 238, 0.073)
    ),
    url(https://i.pinimg.com/564x/df/58/20/df5820cc523cbd07cf9a09bf8ec92c3e.jpg);
  background-size: cover;
  padding: 20px 0;
}
.Product_info {
  padding: 10px;
}
.AddRemove {
  display: flex;
  justify-content: space-between;
}
.AddRemove .DeleteProduct {
  width: 30px;
  margin-right: 30%;
}

.ProductList a {
  font-size: 20px;
  font-weight: 600;
  text-decoration: none;
  color: #7b3633;
  transition: 0.3s;
}
.ProductList a:hover {
  text-shadow: 0 0 2px #140707;
}
.Category {
  margin: 0;
  color: #7b3633;
}
