.Layout {
  max-width: 789px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(231, 215, 250);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout aside {
  flex: 20% 0 0;
  background-color: goldenrod;
}
.Layout main {
  flex: 80% 1 1;
  background-color: rgb(137, 137, 151);
}
.Layout footer {
  flex: 100% 0 0;
  background-color: rgb(235, 235, 235);
}

@media (max-width: 650px) {
  .Layout header .head > .Nav {
    display: none;
  }
}
.head {
  display: flex;
  justify-content: space-between;
  background: #191e24f5;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
}

/* .About {
  background-image: url(./https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSVfMfOVVkWPcoDCZigxLQ7N1js0YB_1y1pvZb1mN6QQqjUywOg2cMa7uI3-hjPcUjhZWs&usqp=CAU);
  background-size: cover;
} */
