.Layout {
  max-width: 789px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.Layout header {
  flex-basis: 100%;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: rgb(231, 215, 250);

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Layout aside {
  flex: 20% 0 0;
  background-color: goldenrod;
}
.Layout main {
  flex: 80% 1 1;
  background-color: rgb(137, 137, 151);
}
.Layout footer {
  flex: 100% 0 0;
  background-color: rgb(235, 235, 235);
}

@media (max-width: 650px) {
  .Layout header .head > .Nav {
    display: none;
  }
}
.head {
  display: flex;
  justify-content: space-between;
  background: #191e24f5;
  box-shadow: 10px 10px 10px rgba(128, 128, 128, 0.548);
}

.About {
  background: url(https://i.pinimg.com/564x/3a/f4/0b/3af40b7df24a8686093b4131127014e3.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.About::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.About > * {
  z-index: 1;
  position: relative;
}
.About h1 {
  margin-bottom: 30px;
}
.About p {
  max-width: 80%;
}
.Home {
  background: url(https://i.pinimg.com/564x/9a/ef/4e/9aef4eb4301ef6ca5464c9574fd0d2bd.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.Home::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
}
.Home > * {
  z-index: 1;
  position: relative;
}
.Home h1 {
  margin-bottom: 30px;
}
.Home p {
  max-width: 80%;
}

.Contacts {
  background: url(https://i.pinimg.com/236x/02/fa/02/02fa025362d13de802465c2630fd29d8.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
.Delivery {
  background: url(https://i.pinimg.com/236x/02/fa/02/02fa025362d13de802465c2630fd29d8.jpg);
  height: 100%;
  background-size: cover;
  background-position: center;
  position: relative;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px;
}
