.footer {
  box-shadow: 0 0 10px;
  align-items: center;
}
.footer-container {
  display: flex;
  justify-content: space-evenly;
}

.footer-column a {
  text-decoration: none;
  color: black;
  display: block;
  margin-bottom: 10px;
}
.footer-heading {
  margin-bottom: 20px;
  font-size: 18px;
  padding: 0 20px;
}
.footer-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.footer-list li {
  margin-bottom: 10px;
  font-size: 14px;
}
.network-icons {
  display: flex;
  justify-content: space-around;
}

.network-icons .bi {
  width: 30px;
  height: 30px;
  color: black;
}

.footer-list li:hover {
  cursor: pointer;
  color: rgb(201, 169, 169);
}

.footer-column a:hover {
  color: rgb(201, 169, 169);
}

.network-icons .bi:hover {
  cursor: pointer;
  color: rgb(201, 169, 169);
}
footer .footer-list li a,
footer .footer-list li {
  margin-bottom: 0;
  padding: 10px 0;
}
footer .footer-list li {
  width: 100%;
  padding: 0;
}
.footer-column p {
  margin-bottom: 10px;
}
.AddToCart button {
  border: none;
  padding: 5px 15px;
}
.AddToCart button:hover {
  background: #000;
  color: #fff;
  cursor: pointer;
  border-color: #fff;
}
.Product_info span {
  margin-bottom: 10px;
  display: block;
}
.Product_info a {
  display: block;
  margin-bottom: 5px;
}
@media screen and (max-width: 900px) {
  .footer-column {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 900px) {
  .footer-column {
    flex-basis: 100%;
  }
}
