* {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.head {
  width: 100%;
  align-items: center;
}
.Logo img {
  display: block;
}
.Logo a {
  display: block;
}
.CategoryList li {
  list-style-type: none;
}
.CartLink img {
  position: static;
}
nav {
  box-shadow: none;
  background: transparent;
}
.Auth button {
  margin-left: 10px;
  background: none;
  color: #fff;
  padding: 3px 8px;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: 0.3sl;
}
.Auth button:hover {
  color: #ccc;
}
.Auth a {
  color: #fff;
}
.CartLink {
  padding: 0;
}
.CartLink a {
  padding: 0;
  height: auto;
  display: flex;
  align-items: center;
  color: #fff;
}
.CartLink img {
  display: block;
  margin-right: 5px;
}
.CategoryList a {
  font-size: 14px;
  padding: 0;
  text-align: left;
  display: block;
}
.CategoryList li {
  width: 100%;
  padding: 10px;
}
.Layout {
  height: 100%;
}
.Layout main {
  min-height: 600px;
}
